.section-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    width: 1000px;
    margin: 30px auto;
    
 }
 .section-grid-items{
     height: 50px;
     padding: 40px;
     margin: 0;
     border: 4px solid black;
 }
 .items-1{
     background-color: purple;
 }
 .items-2{
     background-color: red;
 }
 .items-3{
    background-color:orange
}
.items-4{
    background-color:green;
}
.items-5{
    background-color: purple;
}
.items-6{
    background-color: red;
}
